<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Create your new post</h1>
    <div class="container">
      <div class="new-post">
        <form action="/posts" method="post">
          <input type="text" placeholder="Enter the username" name="username" />
          <br />

          <textarea
            placeholder="Write your post"
            name="content"
            rows="10"
            cols="45"
          ></textarea>
          <br />

          <button>Add new post</button>
        </form>
      </div>
    </div>
  </body>
</html>
